[Unit]
After=network-online.target
Description=Dynamic DNS update service for local hostname
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/nsupdate.sh {{NSSERVER}} {{HOST}} {{DOMAIN}} {{TTL}} {{PUBLIC}}
Restart=always
RestartSec=30
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=multi-user.target
